
// colors 


$primary__white: #FFFFFF;
$primary__dark: #262626;
$primary__grey: #8E8E8E;
$primary__light-grey: #CCCCCC;
$accent: #288FE7;
$red: #F6383C;


// padding 

$padding__nav: 2.2rem 1.4rem;
$padding__home: 2.2rem 5rem;
$padding__post: 2.5rem 3.9rem;