@use "../../styles/partials/variables" as *;

.post {

    width: 100%;
    margin-left: 20rem;
    margin-right: 29rem;
    margin-top: 3rem;

    padding-bottom: 0.6rem;
    border-bottom: 1px solid $primary__light-grey;

    &__info {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.625rem;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
   
    &__avatar {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    &__username {
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0.5rem;
        font-weight: 800;
    }

    &__location {
        margin-top: 0.1rem;
        font-size: 0.8rem;
    }

    &__dots {
        width: 0.8rem;
        height: 0.24rem;
    }
  
    &__image {
        height: 31rem;
        width: 32rem;
    }

    &__icon {
        width:1.1rem;
        height: 1.1rem;
        margin-right: 1rem;

        &:last-child{
            margin-right: 0;
        }
    }

    &__icons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        &-left{
            display: flex;

        }
    }

    &__likes {
        font-weight: 800;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }

    &__comments {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }

    &__description {
        margin-bottom: 0.3rem;
        color: $primary__dark;
    }

    &__more {
        display: flex;
        justify-content: left;
        align-items: baseline;

        &-icon{
            width: 0.5rem;
            height: 0.1rem;
            margin-right: 0.3rem;
        }
        &-text {
            color: $primary__grey;
            margin-bottom: 0.3rem;
        }

        &__comment {

            &-number{
                color: $primary__grey;
                margin-bottom: 0rem;
            }

            &-add {
                font-size: 0.6rem;
            }
        }
    }
}
